.header{
  background-image:linear-gradient(to right, rgba($dark-blue, .8), rgba($light-blue, .8)), url('../img/tech-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  height: 500px;
  position: relative;
  text-align: center;

  @media (max-width: $break){
    height: 90vh;
  }

  &__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__name{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__motto{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }
}
